code, kbd, pre, samp {
  font-family: $font-family-monospace;
  background-color: #f5f5f5 !important;
  border-radius: 2px;
  margin: 0;
}

kbd {
  padding: 0 2px;
}

pre, code {
  display: block;
  overflow: auto;
  color: $gray-dark;
  padding: 2px;
}