#content {
  padding-top: 30px;
  min-height: 300px;
  .content-wrapper {
    & > .content {
      @include media-breakpoint-up(md) {
        border-right: 1px solid $border-color;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
      }
    }
    & > .sidebar {
      //background-color: #efefef;
    }
  }
}

label {
  margin-bottom: 0;
  cursor: pointer;
  .custom-control-indicator {
    //width: 1.2rem;
    //height: 1.2rem;
    background-color: transparent;
    border: 1px solid #999;
  }
  .custom-control-description {
    //line-height: 2rem;
  }
  .custom-control-input:checked ~ .custom-control-indicator {
    border-color: transparent;
  }
}

footer {
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid $border-color;
}