#content {
  padding-top: 30px;
  min-height: 300px;
  .content-wrapper {
    & > .content {
      @include media-breakpoint-up(md) {
        border-right: 1px solid $border-color;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
      }
    }
    & > .sidebar {
      //background-color: #efefef;
    }
  }
}

label {
  margin-bottom: 0;
  cursor: pointer;
}

button:not(disabled), .btn:not(disabled) {
  cursor: pointer;
}

.custom-checkbox {
  display: inline-block;
}

#modal {
  .modal-dialog {
    display: table;
    @media (min-width: 601px) {
      max-width: 600px;
      form, .social { padding: 15px 20px; }
    }
    @media (max-width: 600px) {
      min-width: 300px;
      max-width: 100%;
      margin-top: 5px;
      form, .social { padding: 10px; }
    }
    .modal-body > .nav { padding-left: 30px; }
  }
  .modal-header {
    .close { font-size: 22px; }
    .nav {
      height: 45px;
      line-height: 45px;
      padding: 0;
      @include media-breakpoint-up(md) {
        padding-left: 10px;
      }
      .nav-item {
        .nav-link {
          padding: 0 15px;
          &:first-child {
            padding-left: 0;
          }
        }
        a {
          font-size: 15px;
          &.active {
            font-weight: bold;
            color: $gray-dark;
          }
        }
      }
    }
  }
  .modal-body {
    padding: 0;
  }
}

.thumbnails {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    @include image;
  }
}

.topic-content {
  overflow: auto;
  h2, h3, h4, h5 {
    margin-bottom: 0;
  }
  img {
    max-width: 100%;
    &:not([align]) {
      @include image {
        display: block;
        margin: auto;
      }
    }
  }
}
.topic-meta {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 5px 0;
  margin-top: 20px;
  min-height: 50px;
  .avatar {
    img {
      width: 48px;
      border-radius: 25px;
    }
  }
  .created {
    .date {font-size: 12px;}
    .author {
      a { color: $gray-dark; }
      font-weight: bold;
    }
  }
  .rating {
    span[class] { font-weight: bold; }
  }
}

#topic-page {
  .buttons {
    margin-top: 1rem;
    justify-content: normal;
  }
  .topic-title {
    font-size: 2rem;
  }
  .topic-content {
    margin-top: 1.5rem;
  }
  .topic-comments {
    margin-top: 50px;
  }
}

#topics-list {
  .topic-row {
    margin-top: 50px;
    &:first-child {
      margin-top: 0;
    }
  }
  .topic-title {
    font-size: 1.8rem;
    margin: .5rem 0;
    a { color: $gray-dark; }
  }
  .topic-content {
    img { max-width: 100%; }
  }
  .topic-meta {
    zoom: .9;
  }
  .topics-banner {
    img {
      width: 100%;
      border: 1px solid #777;
    }
  }
}

footer {
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid $border-color;
}