#main-banner {
  img {
    width: 100%;
    border: 1px solid #777;
  }
  margin-bottom: 30px;
}
#content {
  padding-top: 30px;
  min-height: 300px;
  .content-wrapper {
    & > .content {
      @include media-breakpoint-up(md) {
        border-right: 1px solid $border-color;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
      }
    }
    & > .sidebar {
      //background-color: #efefef;
    }
  }
}

label {
  margin-bottom: 0;
  cursor: pointer;
}

button:not(disabled), .btn:not(disabled) {
  cursor: pointer;
}

.custom-checkbox {
  display: inline-block;
}

#modal {
  .modal-dialog {
    display: table;
    @media (min-width: 601px) {
      max-width: 600px;
      form, .social { padding: 15px 20px; }
    }
    @media (max-width: 600px) {
      min-width: 300px;
      max-width: 100%;
      margin-top: 5px;
      form, .social { padding: 10px; }
    }
    .modal-body > .nav { padding-left: 30px; }
  }
  .modal-header {
    .close { font-size: 22px; }
    .nav {
      height: 45px;
      line-height: 45px;
      padding: 0;
      @include media-breakpoint-up(md) {
        padding-left: 10px;
      }
      .nav-item {
        .nav-link {
          padding: 0 15px;
          &:first-child {
            padding-left: 0;
          }
        }
        a {
          font-size: 15px;
          &.active {
            font-weight: bold;
            color: $gray-dark;
          }
        }
      }
    }
  }
  .modal-body {
    padding: 0;
  }
}

.thumbnails {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    @include image;
  }
}

footer {
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid $border-color;
}