@import 'variables';
//noinspection CssUnknownTarget
@import 'bootstrap/bootstrap';
@import 'fonts';
@import 'mixins';
// --
@import 'components/header';
@import 'components/content';
@import 'components/office';
@import 'components/community';
@import 'components/form';
@import 'components/users';
@import 'components/grid-panel';
@import 'components/alertify';
@import 'components/prism';
@import 'components/fancybox';
@import 'components/code';

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;  // 16px
}

input {
  &:focus {
    outline: none;
  }
}

@include media-breakpoint-down(sm) {
  ul {
    padding-left: 20px;
  }
}